nav a{
    color: #322c2c;
    text-decoration: dotted;
}
.name img{
    width: 90px;
    position: relative;
    left: 20px;
    top: 20px;
}
nav ul{
    list-style-type: none;
    font-size: 26px;
    font-weight: 28px;
    display: flex;
    position: relative;
    top: 0px;
    right: -1100px;
    bottom: 0px;
    align-items: center;
    width: 100%;
}
nav ul li{
    margin-right: 60px;
}
body{
    background-color: rgba(128, 128, 128, 0.083);
    font-style: Arial;
    width:fit-content
}
.himage{
    position:absolute;
    top:0;
    right:0;
    height:101vh;
    width:105%;
    object-fit: cover;
    opacity:0.35;
}

.profile{
    position:absolute;
    display:block;
    top: 420px;
    left:0px;
    width: 50vh;
    object-fit: cover;
    opacity:10;
}
.name{
    font-family:Arial;
    position: absolute;
    top:14%;
    right:28%;
    font-size: x-large;
    color: black;
}

.second,
.first{
    border: 4px solid hsl(0, 0%, 50%);
    padding: 10px;
    background-color: rgba(231, 204, 151, 0.777);
    width: 300px;
}

.project{
    position: relative;
    top: 451px;
    left: 395px;
}

.title{
    border: 4px solid hsl(0, 0%, 50%);
    padding: 10px;
    background-color: rgba(231, 204, 151, 0.777);
    width: 300px;
    font-size: large;
}

.p1header,
.p2header{
    font-size: large;
    display: flex;
    flex: right;
}
span{
    position: relative;
    left: 29px;
    top: 5px;
}

.abtme{
    border: 4px solid rgba(231, 204, 151, 0.777);
    padding: 10px;
    background-color: hsl(0, 0%, 50%);
    width: 700px;
    position: relative;
    left: 1000px;
    top: -270px;
    font-size:x-large;
}

.contacts {
    text-align: center;
    margin-top: 50px;
}

.contact-details {
    margin-top: 20px;
}

.email-button,
.phone-link {
    display: inline-block;
    margin-left: 10px;
    position: relative;
    top: 349px;
    right: -65%;
    padding: 10px 20px;
    background-color: rgba(231, 204, 151, 0.777);
    color: black;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    border: 5px solid grey;
}

.email-button:hover,
.phone-link:hover {
    background-color: lightcoral;
}
